{% extends "base.html" %}
{%block mainblock%}
{% for i in jobs %}
<div class="card mb-3 w-75 ">
    <div class="row g-0">
      <div class="col-md-4">
        {%if 'i.poster' %}
        <img src="{{ i.poster.url }}" class="img-fluid rounded-start" alt="...">
        {%endif%}  
    </div>
      <div class="col-md-5">
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <h5 class="card-title">{{i.company_name}}</h5>
            <h5 class="card-title">{{i.experiance}}</h5>
            <h5 class="card-title">{{i.salary}}</h5>
            <h5 class="card-title">{{i.qualification}}</h5>
            <h5 class="card-title">{{i.skills}}</h5>
            <h5 class="card-title">{{i.category}}</h5>
  
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="col-md-3">
          <a class="btn btn-dark mt-4" href="">view</a><br><br>
          <a class="btn btn-dark" href="{% url 'jobdelete' i.id %}">Delete</a><br><br>
          <a class="btn btn-dark" href="{% url 'jobupdate' i.id %}">Update</a>
        </div>
      </div>
    </div>
  {%endfor%}
  {%endblock%}